@import url('https://fonts.googleapis.com/css?family=PT+Sans|Hammersmith+One');

:root {
    --main-color: black;
    --secondary-color: white;
    font-family: 'PT+Sans', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
    min-width: 320px;
}

header {
    width: 100%;
}
main{
    width: 100%;
}
footer {
    width: 100%;
}
body  a {
    text-decoration: none;
    color: var(--main-color);
}

h1,
h2,
h3,
p,
div,
nav {
    margin: 0;
    padding: 0;
}


/*Burger Menu: */

@media (max-width: 670px)
/*max-width: 670px) {*/

    {

    header .black_top_line {
        display: none;
    }
    header .blackline_left {
        display: none;
    }
    header .blackline_right {
        display: none;
    }

    header .ispot_logo img {
        width: 10rem;
        margin: 15px 0;
    }

    header .cart_icon img {
        width: 2rem;
        margin: 15px 15px 15px 0;
    }
    header .main_nav_container ul {
        display: none;
    }

    header .container_burger_line {
        display: flex;
        justify-content: space-between;
    }


    header .container_burger_line a {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;
    }

    header .container_burger_line a:hover {
        color: tomato;
    }

    header #menuToggle {
        display: block;
        position: relative;
        top: 30px;
        left: 30px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    header #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    header #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }

    header #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    header #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    header #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
 * But let's hide the middle one.
 */
    header #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    header #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    header #burger_menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    header #burger_menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
 * And let's slide it in from the left
 */
    header #menuToggle input:checked~ul {
        transform: none;
    }
}


/*DISCTOP: */

@media (min-width: 670px) {
    header #menuToggle {
        display: none;
    }
    header .black_top_line {
        background-color: black;
        max-height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header .container_for_profile_pic img {
        width: 20px;
        margin: 10px 10px;
        padding: 0;

    }

    header .container_black_line_logos_soc img {
        width: 20px;
        margin: 10px 10px;
        padding: 0;
    }

    header .container_black_line_logos_soc {
        padding: 0;
        margin: 0 30px;
        display: flex;
        justify-content: space-around;
    }
    header .container_for_profile_pic {
        padding: 0;
        margin: 0 30px;
    }

    header .container_black_toolbar {
        max-height: 20px;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    header .container_black_toolbar li {
        display: inline;
        color: white;
        list-style-type: none;
        margin: 0 5px;
    }

    header .container_black_toolbar li a {
        text-decoration: none;
        color: var(--secondary-color);
    }

    header .blackline_left {
        display: flex;
        justify-content: space-around;
    }

    header .blackline_right {
        display: flex;
        justify-content: space-around;
    }

    header .container_black_toolbar li a:hover {
        text-decoration: underline;
    }



    /* end of top blackline*/
    header .ispot_logo img {
        width: 10rem;
        margin: 15px 0;
    }

    header .cart_icon img {
        width: 2rem;
        margin: 25px 25px 25px 0;

    }

    header .container_burger_line {
        display: flex;
        justify-content: space-between;
    }

    header .main_product_menu li {
        display: inline;
        list-style-type: none;
        font-family: 'Hammersmith One', sans-serif;
        font-size: 1.5rem;
        margin: 5px;
    }

    header .main_product_menu li a {
        text-decoration: none;
        color: var(--main-color);
    }

    header .main_product_menu li a:hover {
        text-decoration: underline;
    }

    header .main_product_menu {
        padding: 0;
    }

    header .main_nav_container {
        display: flex;
        justify-content: center;
        margin: 30px 20px;
    }
    /* header bottom*/
}

/*MAIN*/

main {
    margin: 50px 0;
}

main .carousel_images img {
    /*display: block;*/
    /*margin: auto;*/
    /*width: 100%;*/
    display: block;
    margin:auto;
    width: 85%;
}

main .carousel_buttons {
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2px;
}

main #w3-display-left{
    display: block;
    margin: auto;
    width: 25%;
}

main #w3-display-right{
    display: block;
    margin: auto;
    width: 25%;
}

main .popular_heading {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

main .popular_heading h2 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

main .popular_prod_bar {
    display: flex;
    justify-content: center;
}

main .popular_prod_bar li {
    display: inline;
    list-style-type: none;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 5px;
}

main ul.popular_prod_bar {
    padding: 0px;
}

main .popular_prod_bar li a {
    text-decoration: none;
    color: var(--main-color);
}

main .popular_prod_bar li a:hover {
    text-decoration: underline;
}

main .popular_heading {
    display: flex;
    justify-content: center;
    padding: 0;
}

/*PRODUCT CARD*/

.product_plate {
    width: 10rem;
    justify-self: center;
}

.product_plate img {
    display: block;
    width: 100%;
    max-width: 10rem;
}


main .product_price span,
main .availability_status {
    font-size: 1rem;
    padding: 0 5px;
}

main .product_plate h4 {
    text-align: center;
}

main .product_name {
    color: rgb(0, 153, 255);
    margin: 5px;
    padding: 0;

}

main .availability_status {
    margin: 5px;
    color: green;
    padding: 0;
    display: flex;
    justify-content: center;
}

main .product_price {
    display: flex;
    justify-content: center;
}

main .usd {
    font-weight: bold;
    padding: 0;
    margin: 5px;
}

main .button_container {
    display: flex;
    justify-content: center;
}

main .button {
    border-radius: 4px;
    background-color: #3399ff;
    color: var(--secondary-color);
    border: none;
    padding: 10px;
    /*width: absolute;*/
    transition: all 0.5s;
}


main .button {
    font-family: 'PT+Sans', sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

main .button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

main .button:hover {
    padding-right: 25px;
}

main .button:hover :after {
    opacity: 1;
    right: 0;
}

main .info button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s 
}
main button.info_button {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    display:block;
    margin: 1rem auto;
    
}


@media (min-width: 320px) {
    .product_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        /*position: center;*/
    }
}

@media (min-width: 670px) {
    .product_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        /*position: center;*/
    }
}

/*SECTION CASES AND WATCHES*/

main #section_accesories {
    margin: 25px 0;
}

main .accesories_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}

main h3 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

main .accesories_picture_container img {
    display: block;
    width: 100%;
}


main .accesories_heading {
    margin: 1rem 0;
}


main .accesories_heading_container_grey {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

main .accesories_heading_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

@media (max-width: 670px) {
    main .accesories_heading h3 {
        font-size: 0.8rem;
    }

}



/*NEWS*/

.news_plate {
    width: 15rem;
    justify-self: center;
}

.news_plate img {
    display: block;
    width: 100%;
    max-width: 15rem;
    margin: 1rem 0;
}



.news_plates_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.news_name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 760px) {
    .news_plates_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        /*position: center;*/
    }
    .news_name {
        display: block;
        margin: auto;
    }
}


/*FOUR SECTION*/

main .four_section_item img {
    width: 100%;
    max-width:30rem;
    display: block;
    margin: auto;
    
}

.four_section_item img:hover {
    transform: scale(1.1);
}

.four_section_container .four_section_item {
    position: relative;
    display: inline-block;
    overflow: hidden; 
    /* Make the width of box same as image */
}

.four_section_container .four_section_item .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    /* Adjust this value to move the positioned div up and down */
    background: rgba(0, 0, 0, 0.8);
    /*font-family: Arial,sans-serif;*/
    color: #fff;
    width: 60%;
    /* Set the width of the positioned div */
}

.four_section_container {
    display: block;
    margin: auto;
    padding: 15px 0;

}

@media (max-width:980px){
    main .four_section_item img {
    width: 80%;
    display: block;
    margin: auto;
}
}

/*FOOTER*/



footer .container_for_question {
    display: block;
    margin:auto;
}

footer .form_currency_contact_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
footer .container_bottom_contacts {
    display: block;
    margin:auto;
    padding: 15px;
}

footer .contacts_currency {
    display: flex;
    flex-direction: column;
    margin: auto;
}

footer .form_currency_contact_container h4 {
    display: flex;
    justify-content: center;
}

footer .container_for_question button {
    display: flex;
    justify-content: center;
}

@media (max-width: 750px){
    footer .form_currency_contact_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
}

footer .last_line {
        
        max-height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 15px 0;
}
footer {
    margin: 15px 0;
}

footer button {
    border-radius: 4px;
    background-color: #3399ff;
    color: var(--secondary-color);
    border: none;
    padding: 10px;
    /*width: absolute;*/
    transition: all 0.5s;
}


footer button {
    font-family: 'PT+Sans', sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

footer button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

footer button:hover {
    padding-right: 25px;
}

footer button:hover :after {
    opacity: 1;
    right: 0;
}


#carouselOffers {
    height: 500px;
}

#carouselOffers img {
    max-height: 450px;
}

.intro {
    max-width: 400px;
    margin-top: 150px;
    text-align: center;
}
.card {
    height: 100%;
}

.alert {
    position: fixed;
    top: 50px; 
    width: 50%;
    left: 25%;
    z-index: 1051;
}

.btn {
    padding: 0.75rem 0.7rem;
}

