@import url('https://fonts.googleapis.com/css?family=PT+Sans|Hammersmith+One');

:root {
    --main-color: black;
    --secondary-color: white;
    font-family: 'PT+Sans', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

h1, h2, h3, p, div, nav {
    margin: 0;
    padding: 0;
}


header .black_top_line {
    background-color: black;
    max-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .container_for_profile_pic img {
    width: 20px;
    margin: 10px 10px;
    padding: 0;
    
}

header .container_black_line_logos_soc img {
    width: 20px;
    margin: 10px 10px;
    padding: 0;
}

header .container_black_line_logos_soc {
    padding:0;
    margin: 0 30px;
    display: flex;
    justify-content: space-around;
}
header .container_for_profile_pic {
    padding:0;
    margin: 0 30px;
}

header .container_black_toolbar {
    max-height: 20px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header .container_black_toolbar li {
    display: inline;
    color: white;
    list-style-type: none;
    margin: 0 5px ;
}

header .container_black_toolbar li a {
    text-decoration: none;
    color: var(--secondary-color);
}

header .blackline_left {
    display: flex;
    justify-content: space-around;
}

header .blackline_right {
    display: flex;
    justify-content: space-around;
}

header .container_black_toolbar li a:hover {
    text-decoration: underline;
}

@media (min-width: 550px) {
    
}

/* end of top blackline*/


header .container_logo_and_cart {
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}

header .main_logo_container a{
    text-decoration: none;
    color: var(--main-color);
}

header .ispot_logo {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 4rem;
    margin: none;
}

header .ispot_logo img {
    width: 3.5rem;
}

header .cart_icon img{
    width: 3.5rem;
    margin: 15px;
}

header .main_product_menu li {
    display: inline;
    list-style-type: none;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.5rem;
    margin: 5px;
}

header .main_product_menu li a {
    text-decoration: none;
    color: var(--main-color);
}

header .main_product_menu li a:hover {
    text-decoration: underline;
}

header .main_product_menu {
    padding: 0;
}

header .main_nav_container {
    display: flex;
    justify-content: center;
    margin: 30px 20px;
}
/* header bottom*/

main .popular_heading h2{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

main .

main .popular_heading li {
    display: inline;
    list-style-type: none;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 5px;
}

main .popular_prod_bar li a {
    text-decoration: none;
    color: var(--main-color);
}

main .popular_prod_bar li a:hover {
    text-decoration: underline;
}

main .product_image img {
    width: 10rem; 
    display: block;
}

main .product_plate h4, 
main .product-card p {
    
}

main .usd {
    
}

.add_to_cart button


#section_watches{
    background-color: rgb(240, 240, 240);
}

.four_section_item {
   float: left;
   margin-right: 1.5%;
   width: 48.5%;
   position: relative;
}

.four_section_item:nth-left-of-type(2n){
    margin-right: 0;
} 

.four_section_pic {
    max-width: 100%;
    display: block;
}

.four_section_link {
    color: #000;
    text-align: center;
    font-size: 1.8rem;
}

.bottom_toolbar li {
    display: inline;
}

.four_section_text {
    position: relative;
    top: 50%;
}